* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      display: flex;
      justify-content: center;
      background-image: url(https://www.rankiapro.com/wp-content/uploads/2019/08/fondo-tecnologico-preferido-selectores-rankiapro.png) ;
  }
  h2{
      margin-top: 2rem;
      margin-bottom: 1rem;
  }
  
  /*DRoP DOWN*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown button {
    min-width: 60px;
    padding: 10px;
    background-color: #991a1a;
    border: crimson;
    color: rgb(2, 1, 1);
    font-size: 1.5rem;
    border-radius: 5px;
  } 
  .dropdown ul {
    width: 100%;
    position: absolute;
    top: 100%;
    text-align: center;
    display: none;
  }
  .drop-content li {
    list-style: none;
  }
  .dropdown button:hover {
    color: #000;
      background-color: red;
    }
    .dropdown button:focus {
        outline: none;
    }
  
  .dropdown a {
    text-decoration-line: none;
    display: block;
    padding: 10px;
    background-color: rgb(8, 8, 7);
  }
  .dropdown a:hover {
    background-color: rgb(8, 8, 8);
    color: #fff;
  }
  .dropdown.is-active ul {
    display: block;
  }
  
  /*Acordeon*/
  .acordeon {
    width: 100%;
    max-width: 600px;
    position: relative;
    margin-bottom: 0.3rem;
  }
  .acordeon p{
  line-height: 1.8rem;
  }
  .acordeon button {
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: #6FA0A6;
    color: #fff;
    font-size: 20px;
  }
  .acordeon .content {
    position: relative;
    display: none;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color:rgba(0, 0, 0, 0.4);
  
    color: #000;
    font-size: 1.1rem;
  }
  .acordeon div {
    width: 100%;
    display: inline-block;
  }
  .acordeon.is-active div {
    display: block;
  }
  
  .acordeon img{
      
      right: 0;
  }
  
  /*Modal*/
  
  .modal {
      border-radius: 1rem 1rem;
   
  }
  .header-modal {
    background-color: #050608;
    text-align: center;
    padding: 1rem;
    color: #fff;
  }
  .modal button {
    background-color: #090e1b;
    margin-left: 6rem;
    margin-top: -1.5rem;
    border:none;
    cursor: pointer;
  }
  
  
  .modal p {
    padding: 2rem;
    
  }
  .close-modal {
    position: absolute;
  }
  
  .container-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
  }
  
  .modal {
    width: 25%;
    height: 40%;
    background: #fff;
    overflow: hidden;
    position: relative;
    transition: transform 2s;
    transform: translateY(80%);
  }
  
  .container-modal.is-active.modal {
    display: block;
  }
  
  .onlymodal{
      display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .open-modal{
     display: block;
      font-size: 1.5rem;
      border-radius: 1rem 1rem;
      background-color: #0E7373;
      color: #fff;
      padding: 1rem;
      margin-bottom: 2rem;
      
  }
  .open-modal:focus{
      outline: none;
  
  }
  
  .open-modal:hover{
      background-color: #F2CB05;
      color:#000;
  
  }